// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px !important;

.head-1 {
  font-size: 11.25rem !important;
  line-height: 11.25rem;
}
.head-2 {
  font-size: 8rem !important;
}
.title-1 {
  font-size: 2.75rem !important;
}
.title-2 {
  font-size: 2rem !important;
}
.title-2-exbold {
  font-size: 2rem !important;
  font-weight: 800 !important;
}
.sub-copy {
  font-size: 1.25rem !important;
}
.sub-copy-exbold {
  font-size: 1.25rem !important;
  font-weight: 800 !important;
}
.small-copy-1 {
  font-size: 1rem !important;
  font-weight: 400 !important;
}
.small-copy-1-exbold {
  font-size: 1rem !important;
  font-weight: 800 !important;
}
.small-copy-2 {
  font-size: 0.875rem !important;
  font-weight: 400 !important;
}
.small-copy-2-exbold {
  font-size: 0.875rem !important;
  font-weight: 800 !important;
}
.small-copy-3 {
  font-size: 0.75rem !important;
  font-weight: 400 !important;
}
.small-copy-3-exbold {
  font-size: 0.75rem !important;
  font-weight: 800 !important;
}

.primary-color {
  color: #D2B895 !important;
  caret-color: #D2B895;
}
.primary-border {
  border-width: 1px !important;
  border-color: #D2B895 !important;
}

.secondary1-color {
  color: #D1A576 !important;
}
.secondary2-color {
  color: #DB9F65 !important;
}
.secondary3-color {
  color: #BB9A65 !important;
}
.secondary4-color {
  color: #9E8864 !important;
}
.accent-color{
  color: #566FFF !important;
}
.accent1-color{
  color: #FF5A5A !important;
}
.gray1-color{
  color: #E4E4E4 !important;
}
.gray2-color{
  color: #B7BAC3 !important;
}
.gray3-color{
  color: #8A94A0 !important;
  caret-color: #8A94A0 !important;
}
.gray4-color{
  color: #3E4C59 !important;
}

.gray4-border {
  border-width: 10px !important;
  border-color: #D2B895 !important;
}

.gray5-color{
  color: #323E4A !important;
}
.gray6-color{
  color: #1F2933 !important;
}
.gray7-color{
  color: #141C24 !important;
}
.gray8-color{
  color: #11181F !important;
}