// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px !important;

$head-1-size: 11.25rem;
.head-1 {
  font-size: $head-1-size !important;
  line-height: $head-1-size;
}
.head-1-bold {
  @extend .head-1;
  font-weight: 800 !important;
}

$head-2-size: 8rem;
.head-2 {
  font-size: $head-2-size !important;
  line-height: $head-2-size;
}
.head-2-bold {
  @extend .head-2;
  font-weight: 800 !important;
}

$title-1-size: 2.75rem;
.title-1 {
  font-size: $title-1-size !important;
  line-height: $title-1-size;
}
.title-1-bold {
  @extend .title-1;
  font-weight: 800 !important;
}

$title-2-size: 2rem;
.title-2 {
  font-size: $title-2-size !important;
  font-weight: 300;
  line-height: $title-2-size;
}
.title-2-exbold {
  @extend .title-2;
  font-weight: 800 !important;
}

$sub-copy-size: 1.25rem;
.sub-copy {
  font-size: $sub-copy-size !important;
  line-height: $sub-copy-size;
}
.sub-copy-exbold {
  @extend .sub-copy;
  font-weight: 800 !important;
}

$small-copy-1-size: 1rem;
.small-copy-1 {
  font-size: $small-copy-1-size !important;
  font-weight: 400 !important;
  line-height: $small-copy-1-size;
}
.small-copy-1-exbold {
  @extend .small-copy-1;
  font-weight: 800 !important;
}

$small-copy-2-size: 0.875rem;
.small-copy-2 {
  font-size: $small-copy-2-size !important;
  font-weight: 400 !important;
  line-height: $small-copy-2-size;
}
.small-copy-2-exbold {
  @extend .small-copy-2;
  font-weight: 800 !important;
}

$small-copy-3-size: 0.75rem;
.small-copy-3 {
  font-size: $small-copy-3-size !important;
  font-weight: 400 !important;
  line-height: $small-copy-3-size;
}
.small-copy-3-exbold {
  @extend .small-copy-3;

  font-size: 0.75rem !important;
  font-weight: 800 !important;
}

.primary-color {
  color: #D2B895 !important;
  caret-color: #D2B895;
}
.primary-border {
  border-width: 1px !important;
  border-color: #D2B895 !important;
}

.secondary1-color {
  color: #D1A576 !important;
}
.secondary2-color {
  color: #DB9F65 !important;
}
.secondary3-color {
  color: #BB9A65 !important;
}
.secondary4-color {
  color: #9E8864 !important;
}
.accent-color{
  color: #566FFF !important;
}
.accent1-color{
  color: #FF5A5A !important;
}
.gray1-color{
  color: #E4E4E4 !important;
}
.gray2-color{
  color: #B7BAC3 !important;
}
.gray3-color{
  color: #8A94A0 !important;
  caret-color: #8A94A0 !important;
}
.gray4-color{
  color: #3E4C59 !important;
}

.gray4-border {
  border-width: 10px !important;
  border-color: #D2B895 !important;
}

.gray5-color{
  color: #323E4A !important;
}
.gray6-color{
  color: #1F2933 !important;
}
.gray7-color{
  color: #141C24 !important;
}
.gray8-color{
  color: #11181F !important;
}